@import "tailwindcss";

@theme inline {
  --color-background: #efeff1;
  --color-foreground: #f7f7f8;
  --color-black: #000101;
  --color-gray: #dbdbde;

  --font-family-courgette: var(--font-courgette);
}

body {
  background: var(--color-background);
  color: var(--color-black);
}
